* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #474747;
}

.lateral_bar {
    position: fixed;
    top: 0;
    width: 5%;
    height: 100vh;
    background-color: #52057b;
}

.nav_botoes_lateral {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 15vh;
    margin-bottom: 5vh;
}

.botoes_acima {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    width: 100%;
}

.botoes{

    width: 80%;
    height: 90%;
    max-height: 45.05px;
    max-width: 37.03px;
    margin-right: 10%;
    margin-left: 10%;
}

.botoe_su {
    width: 80%;
    height: 90%;
    max-height: 45.05px;
    max-width: 37.03px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
}

#header{
    width: 100%;
    height: 8vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    right: 0;
}

.cinzacl{
    background-color: #737373;
    height: 8vh;
    width: 23.75%;
    /* position: fixed; */
}

.cinzaes{
    background-color: #545454;
    height: 8vh;
    width: 23.75%;
}

.preto{
    background-color: #000000;
    height: 8vh;
    width: 23.75%;
    right: 0;
}

.botoes_perfil {
    margin-right: 8%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 7vh;
    margin-top: 1.7vh;
    margin-bottom: 0.5vh;
}

.cor1{
    background-color: #52057b;
    height: 8vh;
    width: 23.75%;
}
#lupa{
    margin-top: 5.5%;
    margin-left: 5%;
    font-size: 32px;
}
#perfil{
    height: 80%;
    width: 15%;
    min-height: 30%;
}
#sino{
    height: 80%;
    width: 15%;
}
#tres{
    height: 80%;
    width: 15%;
}
.bloco{
    background-color: #737373;
    margin-bottom: 0;
    height: 15%;
    width: 15%;
    min-height: 30%
  

}

.blocos_filmes {
    padding-top: 8%;
    padding-left: 10%;
}

.bloco {
    background-color: #737373;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
    height: 250px;
    width: 170px;
    margin: 2%;
    float:left;
    min-width: 100px;
    margin-top: 3%;
    
}
#btn_login {
    background-color: #52057b;
    height: 20%;
    width: 6%;
    padding: 4px;
    border-radius: 7px ;
    color: rgb(253, 253, 253);
    margin-left: 90%;
    margin-bottom: -10px;
    font-size: 17px;
    
}
.div_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.rate {
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    color: aliceblue;
    font-size: 35px;

}
.movie  {
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-left: 8%;
}

@media only screen and (max-width: 959px) {
    p{
        font-size: 30px;
    }.movie {
        font-size: 10px;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .rate {
        font-size: 30px;
    }.movie {
        font-size: 10px;
    }
    
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .rate{
        font-size: 30px;
    }
    .movie {
        font-size: 10px;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .rate {
        font-size: 25px;
    }
    .movie {
        font-size: 9px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    .rate {
        font-size: 22px;
    }
    .movie {
        font-size: 8px;
    }
} 