*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #474747;
}

#header{
    width: 95%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    right: 0;
}

.cinzacl{
    background-color: #737373;
    height: 8vh;
    width: 23.75%;
    /* position: fixed; */
}

.cinzaes{
    background-color: #545454;
    height: 8vh;
    width: 23.75%;
}

.preto{
    background-color: #000000;
    height: 8vh;
    width: 23.75%;

}

.cor1{
    background-color: #52057b;
    height: 8vh;
    width: 23.75%;
}
#lupa{
    margin-top: 7%;
    margin-left: 5%;
    font-size: 32px;
}
#perfil{
    height: 70%;
    width: 12%;
    margin-left: 3%;
    margin-top: 3%;
    padding: 0;
}
#sino{
    height: 70%;
    width: 12%;
    padding-left: 50%;
    


}
#tres{
    height: 70%;
    width: 12%;
    margin-left: 3%;


}
.bloco{
    background-color: #737373;
    margin-bottom: 0;
    height: 15%;
    width: 15%;
  

}

.main{
    padding-top: 8%;
    padding-left: 10%;
}
.bloco{
    background-color: #737373;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
    height: 250px;
    width: 170px;
    margin: 3%;
    float:left;
    min-width: 100px;
    
}