* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2C2C2C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #3f3e3e;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    position: fixed;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

h2 {
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ator-image {
    width: 210px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
}

form {
    width: 100%;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    background-color: #444;
    color: white;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 5%;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #52057B;
    color: white;
}

button#cancel {
    background-color: #52057B;
}

#cancel:hover {
    background-color: #7e198f;
}

#add:hover {
    background-color: #7e198f;
}

.img{
    height: 5%;
    width: 2%;
    margin-left: -95%;
    margin-top: -44%;
}