@import url('https://fonts.cdnfonts.com/css/montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #52057B; 
    color: #D9D9D9; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #52057B;
    border-radius: 10px;
    padding: 90px;
    width: 800px;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.1);
    position: relative;
}


@media (max-width: 800px) {
    .container {
        width: 95%; 
        padding: 40px; 
    }

    .content {
        flex-direction: column; 
        margin-top: 10px; 
    }

    .left-container,
    .right-container {
        width: 100%;
    }

    .profile-picture img {
        width: 120px; 
        height: 120px; 
    }

    .input-text {
        width: 100%; 
        margin-right: 0; 
    }

    .back-button, .comment-button {
        width: 100%; 
        margin-top: 10px; 
    }
}

.top-icons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.top-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.content {
    display: flex;
    margin-top: 20px;
}

.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.profile-picture img {
    background-color: #6C6060; 
    border-radius: 50%;
    width: 270px;
    height: 270px;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding-left: 20px;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.info-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
}

.input-text {
    background-color: #ccc;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    width: calc(100% - 30px); 
    margin-right: 10px; 
}

.edit-icon {
    position: absolute;
    right: -30px; 
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.back-button,
.comment-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}

.back-button {
    background-color: #6C6060;
    align-self: flex-end;
}

.back-button:hover {
    background-color: #4D4D4D;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.comment-button {
    background-color: #737373;
    align-self: flex-start;
}

.comment-button:hover {
    background-color: #595959;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}