* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2C2C2C;
    width: 100vw;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
}

.seta_voltar{
    position: fixed;
    width: 50%;
    margin-left: 3%;
    margin-top: 3%;
}

.back-button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}

.back-button:hover {
    color: #ccc;
}

.container {
    height: 100%;
    width: 35%;
    background-color: #3f3e3e;
    padding: 20px;
    border-radius: 15px;
    margin-top: 5%; 
    margin-bottom: 5%;
    margin-left: 28%;
    margin-right: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

h2 {
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}

.form-container {
    height: 90%;
    width: 90%;
}

.ator-image {
    width: 90%;
    height: 90%;
    max-width: 250px;
    max-height: 310px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
}

form {
    width: 100%;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    background-color: #444;
    color: white;
}


button {
    /* padding: 10px 20px; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6200ea;
    color: white;
}

button#cancel {
    background-color: #6200ea;
}

.img_classificacao{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ícone1{
    width: 90%;
    height: 90%;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
    border-radius: 10px;

}

.ícone2{
    width: 90%;
    height: 90%;
    margin-left: 10px;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
    border-radius: 10px;
} 

.ícone3{
    width: 90%;
    height: 90%;
    margin-left: 10px;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
    border-radius: 10px;
} 

.ícone4{
    width: 90%;
    height: 90%;
    margin-left: 10px;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
    border-radius: 10px;
} 

.ícone5{
    width: 90%;
    height: 90%;
    margin-left: 10px;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
    border-radius: 10px;
} 

.ícone6{
    width: 90%;
    height: 90%;
    margin-left: 10px;
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
    border-radius: 10px;
} 

.buto{
    background-color: #3f3e3e;
 
}

#add{
    padding: 3%;
}

#cancel{
    padding: 3%;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 5%;
}

